{%extends 'monde/layout.html'%}
{%block head%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static "css/home.css"%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<script>
    window.addEventListener('beforeunload',function(){
        document.forms[0].submit.disabled=true;
    });
    document.addEventListener("DOMContentLoaded",()=>{
        const menuButton=document.getElementById("menu-button");
        const menu=document.getElementById("menu");
        const mainContent= document.getElementById("main-content")
        menuButton.addEventListener("click",()=>{
            mainContent.classList.toggle("menu-open");
            menu.classList.toggle("visible");
        });
    });

</script>
{%endblock%}

{%block body%}
<button id="menu-button">Open cart</button><br>
<nav id="menu">
    {%for i,v in cart_data.items%}
    <div>
    <img id="navImage"src="/media/{{i}}" alt="cart item">
    <form method="get" action="remove">
        <input type="hidden" name="item" value="{{i}}">
        <input type="submit" value="Remove from cart">
    </form>
    {%for val in v%}
    <p>{{val}}</P>
    {%endfor%}
    </div>
    {%endfor%}
    <p>{{subtotal}}</p>
    <form action="checkout" method="get">
        <input type="hidden" name="cartItems" value="{{cart_data}}">
        <input type="hidden" name="subtotal" value="{{subtotal}}">
        <input type="submit" value="Proceed to checkout">
    </form>
</nav>

<main id="main-content">
    <h1 id="welcome">Welcome {{user}}</h1>
    <form action='' method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search for items..."><i class="fa-solid fa-magnifying-glass"></i>
        <input type="submit" value="Search">
    </form>
    <a href="sell">sell Page</a><br>
{%if obj%}
<h3>Successfully Loaded: {{img_obj.description}}
<img src="{{obj.image.url}}" alt="{{image.description}}">
{% endif %}

{%for secName, secItems in sectionData.items%}
{%if secItems%}
<h2 id="sectionHeader">{{secName}} Section</h2>
{%endif%}
<div id="sectionContent">
    {%for item in secItems%}
        <div id="sectionItems"style="display: inline-block;">
            <a href="{{item.id}}" ? "clothing_id"={{item.id}}><img id="mainPageImages"src="{{item.image.url}}" alt="{{item.name}}"></a>
            <p>{{item.shortDescription}}</p> 
            <p>${{item.price}}</p>
        </div>
    {%endfor%}

    </div>
{%endfor%}
</main>

{%endblock%}