{%extends "monde/layout.html"%}

{%block head%}
{%load static%}
<link rel="stylesheet" href="{%static "css/sellManagement.css"%}"/>

{%endblock%}

{%block body%}
<body>
    <main class="table">
<div class="tableBody">
    <table>
        <tr>
            <th>Customer</th>
            <th>Item</th>
            <th>Item Id</th>
            <th>Status</th>
            <th>amount</th>
        
        </tr>
        {%for i,v in sellsTableContent.items%}
            <tr>
                {%for k in v%}
                    <td><p>{{k}}</p></td>
                {%endfor%}
            </tr>
        {%endfor%}

    </table>
</div>

<h2> Deliver items: </h2>
{%for d in DeliveriesButtonsContent%}
<form method="get" action="deliver">
    {%csrf_token%}
    <input name="item" type="hidden" value={{d}}>
    <input name="item" type='submit' value="{{d}}">
</form>
{%endfor%}
</main>
</body>
{%endblock%}